*{
    margin:0; /* 위, 왼쪽 기본 마진 제거 */
}

#wrap{
    width: 1200px;
    height: 1000px;
    background-color: #999;
}
header{
    width: 1200px;
    height: 200px;
    background-color: rgb(242, 244, 215);
}
.contents{
    width: 1200px;
    height: 700px;
    background-color: lightpink;
}
.contents aside{
    width: 300px;
    height: 700px;
    background-color: lightskyblue;
}
.contents .right{
    width: 900px;
    height:s 700px;
    background-color: rgb(150, 75, 75);
}
footer{
    width: 1200px;
    height: 100px;
    background-color: lightsalmon;
}
.flex{
    display: flex;
}