.box-size-100{
    width: 100px;
    height: 100px;
}
#div1{
    background-color: thistle;
    padding: 15px;
    margin-bottom: 20px;
}
#div2{
    background-color: wheat;
}
#div3{
    background-color: rgb(143, 231, 140);
}
#div4{
    background-color: rgb(243, 122, 178);
}
.flex{
    display: flex;
    background-color: yellow;
    justify-content:space-around;
}
.text1{
    background-color: turquoise;
    padding: 20px;
    margin: 20px;
    display: block;
}
.text2{
    background-color: lightcyan;
    width: 350px;
    height: 200px;
    display: block;
}